//模块模板
div(s-child, s-tpl="tpl/common/header", s-data="null",s-logic="logic/header")
div(s-child, s-tpl="tpl/common/search", s-controller="controller/bookListSearch", s-logic="logic/search")
div(s-child, s-tpl="tpl/common/dataList",s-controller="controller/dataList",  s-logic="logic/dataList")