doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
        meta(content='telephone=no', name='format-detection')
        meta(name='viewport', content='width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1')
        meta(http-equiv="X-UA-Compatible", content="IE=8")
        title 主页
        link(href='http://js.catfood.wap.grid.sina.com.cn/css/reset.css', type='text/css', rel='stylesheet')
        link(href='http://js.catfood.wap.grid.sina.com.cn/css/index.css', type='text/css', rel='stylesheet')
    body
        #content
    script.
        $CONFIG = {
            baseUrl: 'http://js.catfood.wap.grid.sina.com.cn/',
            username: 'lihan2',
            maxCount: 3
        };
    script(src="http://js.catfood.wap.grid.sina.com.cn/js/lib/lib.js")
    script(src="http://js.catfood.wap.grid.sina.com.cn/js/app.js")
    script.
        steel.boot('app');